<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:label="B站音量减键全屏"
        android:icon="@android:drawable/sym_def_app_icon">
        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="视频页面按下音量减键自动进入全屏" />
        <meta-data
            android:name="xposedminversion"
            android:value="82" />
    </application>

</manifest>
